.n-collapse-item.n-collapse-item--left-arrow-placement {
  outline: 1px solid #e0e0e0;
  outline-offset: 6px;
  border-radius: .23rem;
}

.n-collapse .n-collapse-item:not(:first-child) {
  border-top: none !important;
}

.n-collapse .n-collapse-item .n-collapse-item__header {
  padding: 0px;
}
