/* Components Styles */

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 25px 85px 60px;
}

.container-elements {
  display: flex;
  justify-content: end;
}

.container-elements--table {
  display: flex;
  gap: 12px;
  padding-bottom: 16px;
}

.container-elements--theme {
  padding: 15px 65px;
}

.container-elements__selects {
  display: flex;
  gap: 12px;
}

.container-input-card {
  display: flex;
  gap: 8px;
  justify-content: end;
}

@media (max-width: 800px) {
  .main {
    padding: 15px 12px;
  }
  .container-elements--table {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .container-input-card {
    flex-direction: column;
  }
}

.element-hidden {
  display: none !important;
}
