/*

.select .n-base-selection-label {
  background: var(--gray-color);
}

.select .n-base-selection-label:hover {
  background-color: var(--primary-color);
}

.select .n-base-selection--active .n-base-selection-label,
.select .n-base-selection--active.n-base-selection--focus
{
  background-color: var(--primary-color) !important;
}

.select .n-base-selection-label,
.n-base-selection-placeholder__inner {
  color: black;
  font-weight: 600;
}

.select .n-base-selection--active .n-base-selection-label .n-base-selection-placeholder__inner,
.select .n-base-selection--active.n-base-selection--focus .n-base-selection-placeholder__inner,
.select .n-base-selection--active .n-base-selection-label .n-base-icon.n-base-suffix__arrow,
.select .n-base-selection--active.n-base-selection--focus .n-base-icon.n-base-suffix__arrow,
.select .n-base-selection-label:hover .n-base-selection-placeholder__inner,
.select .n-base-selection-label:hover .n-base-icon.n-base-suffix__arrow,
.select .n-base-selection--active.n-base-selection--focus .n-base-selection-input {
  color:  white;
}

.select .n-base-selection__border {
  border: 0px solid;
}

.select .n-base-icon.n-base-suffix__arrow {
  color: var(--primary-color);
}

.n-base-select-menu .n-base-select-option.n-base-select-option--pending::before {
  background-color: var(--primary-color);
}

.n-base-icon.n-base-select-option__check {
  outline: 2px solid white;
  outline-offset: 1px;
}

.n-base-select-option.n-base-select-option--selected.n-base-select-option--show-checkmark,
.n-base-select-menu .n-base-select-option .n-base-select-option__check,
.n-base-selection .n-base-loading,
.n-base-select-menu .n-base-select-option.n-base-select-option--selected,
.n-base-select-menu .n-base-select-option
{
  color: white;
}

.n-base-selection.n-base-selection--active.n-base-selection--focus  {
  box-shadow: none;
}

.n-base-select-menu .n-base-select-option.n-base-select-option--selected.n-base-select-option--pending::before {
  background-color: var(--primary-color);
}

.v-vl-items {
  background-color: var(--primary-color);
}

.n-select-menu {
  margin: 0px;
  box-shadow: none;
}

*/
