/* Tabs */
.n-tabs.n-tabs--segment-type.n-tabs--medium-size.n-tabs--top {
  width: fit-content;
}

.n-tabs-nav .n-tabs-rail {
  width: fit-content;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  background: var(--gray-color);
  padding: 0px;
}

.n-tabs-tab-wrapper .n-tabs-tab {
  padding: 8px 24px;
}

.n-tabs-nav {
  display: flex;
  justify-content: space-between;
}

.n-tabs .n-tabs-rail .n-tabs-tab-wrapper .n-tabs-tab.n-tabs-tab--active {
  background-color: var(--primary-color);
  transition: background-color 0.3s;
  color: white;
  border-radius: 22px;
}

.n-tabs-tab__label {
  font-size: 14px;
  font-weight: 500;
}

.n-tabs.n-tabs--line-type .n-tabs-tab {
  padding: 2px 0px;
}

.n-tabs-nav-scroll-content {
  border-bottom-width: 3px;
}
