:root {
  --body-color: rgba(0, 0, 0, 0.87);
  --text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
  --gray-color: #ececec;
  --primary-color: #e96f5f;
  --label-color: #827e7e;
}
