:root {
  --body-bg: white;
  --body-color: rgba(0, 0, 0, 0.87);
  --text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
  --gray-color: #ececec;
  --primary-color: #e96f5f;
  --label-color: #827e7e;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark {
  --body-bg: black;
  --text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  --body-color: rgba(255, 255, 255, 0.87);
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  min-height: 100vh;
  margin: 0px;
}
