/* Map styles */

.map-container {
  min-height: 440px !important;
}

.mct-canva {
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: center;
}

.mct-canva__chart {
  padding-top: 25px;
  width: 100%;
}

.mct__canva-section {
  position: relative;
}

/* Map Year */

.mct-canva-year {
  border-radius: .25rem;
  color: var(--body-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px auto;
  max-width: fit-content;
  padding: 6px 24px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  user-select: none;
}

/* Map Legend */

.mct-legend {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
  pointer-events: none;
}

.mct-legend__gradient {
  width: 149px;
  height: 13px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(231, 94, 35),
    rgb(243, 174, 165),
    rgb(209, 218, 246),
    rgb(22, 45, 102)
  );
  box-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

.mct-legend__gradient-box {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid white;
  display: flex;
}

.mct-legend__gradient-box-content {
  width: 100%;
  border: 1px solid white;
}

.mct-legend__content {
  display: flex;
  gap: 42px;
  justify-content: space-between;
  padding: 0px 3px;
  font-size: .6rem;
  text-shadow: var(--text-shadow);
  color: #1E1E1E;
}

/* Tooltip map */

.mct-tooltip {
  display: none;
  position: absolute;
  opacity: 95%;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 12px 12px;
  font-size: 14px;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  min-width: max-content;
}

.mct-tooltip__title {
  font-weight: 600;
  color: white;
  margin-bottom: 4px;
}

.mct-tooltip__result {
  font-weight: 600;
  color: white;
  font-size: 12px;
}

/* MediaQuery */

@media (max-width: 800px) { 
  .map-container {
    min-height: 337.6px !important;
  }
  .mct-canva {
    height: 70vw;
  }
}
