/* Map styles */

.mct-canva {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
}

.mct-canva__chart {
  padding-top: 25px;
  width: 100%;
}

.mct__canva-section {
  position: relative;
}

/* Map Year */

.mct-canva-year {
  border-radius: .25rem;
  color: var(--body-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px auto;
  max-width: fit-content;
  padding: 6px 24px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  user-select: none;
}

/* Map Legend */

.mct-legend {
  position: absolute;
  bottom: 0px;
  left: 70px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
  pointer-events: none;
}

.mct-legend__gradient {
  width: 20px;
  height: 120px;
  background: linear-gradient(
    180deg,
    rgb(13, 0, 161),
    rgb(47, 56, 126),
    rgb(23, 93, 137),
    rgb(43, 115, 177),
    rgb(116, 177, 182)
  );
  border-radius: .25rem;
  box-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

.mct-legend__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0px;
  font-weight: 600;
  font-size: .70rem;
  text-shadow: var(--text-shadow);
}

.mct-legend-text {
  font-weight: 600;
  font-size: .6rem;
  width: 150px;
  padding-top: 4px;
  line-height: 1.4;
}

.mct-legend-source {
  font-weight: 600;
  font-size: .55rem;
  width: 150px;
}

/* Tooltip map */

.mct-tooltip {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 12px 12px;
  font-size: 14px;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.mct-tooltip__title {
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 4px;
}

.mct-tooltip__result {
  font-weight: 600;
  color: #374151;
  font-size: 12px;
}

/* MediaQuery */

@media (max-width: 800px) {
  .main {
    padding: 15px 12px;
  }
  .container-elements--table {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .container-input-card {
    flex-direction: column;
  }
  .mct-canva {
    height: 70vw;
  }
  .mct-legend {
    left: 0px;
  }
}
